---
  server:
    port: 8080

  spring:
    datasource:
      url: ${DB_URL:jdbc:postgresql://localhost:5432/focus-flow-task-service}
      username: ${DB_USER:postgres}
      password: ${DB_PASSWORD:Timofey7828102}
      driver-class-name: org.postgresql.Driver
    jpa:
      hibernate:
        ddl-auto: update
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQLDialect

